body {
    margin: 0;
    text-align: center;
    background:blue;
}

.container {
    display: flex;
    justify-content: space-around;
  
}
#score{
  background: #0a0001;
    font-size: 90px;
    color: #F94F6D;
    width: 120px;
    margin: 30px;
    text-align: center;
   font-family: 'Cursed Timer ULiL', sans-serif;
   font-weight: 400px;
     margin-top: 5px;
}
#score1{
  background: #0a0001;
    font-size: 90px;
    color: #F94F6D;
    width: 120px;
    margin: 30px;
    text-align: center;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-weight: 400px;
      margin-top: 5px;
}
.k{
    background-color: blue;
   border: 1px solid white;
 border-radius: 5px;
color: white;
width: 40px;
height: 40px;
padding: 5px;
  font-family: 'Cursed Timer ULiL', sans-serif;
  margin: 3px
}
.j{
    color: white;
    font-size: 40px;
    font-style: bold;
    margin-bottom: 0px;
}
.l{
    background-color: blue;
   border: 1px solid white;
 border-radius: 5px;
color: white;
width: 100px;
height: 40px;
padding: 5px;
  font-family: 'Cursed Timer ULiL', sans-serif;
  margin: 3px
}